# **Project 2**
### Josh Winnes and Jon Contreras

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

import geopandas as gpd
import shapely
import skmob
from skmob.measures.individual import jump_lengths
from skmob.tessellation import tilers
from skmob.preprocessing import detection, clustering
from skmob.preprocessing import filtering

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 200)
import warnings
warnings.simplefilter("ignore")

import os
import sys

try:       
    kmz_file_path_josh = '/Users/joshwinnes/Library/Mobile Documents/com~apple~CloudDocs/Wheaton College/fall 2024/topics in data science/data/March 7, 2024 - Whistler Blackcomb(Josh).kmz'
    kmz_file_path_jon = '/Users/joshwinnes/Library/Mobile Documents/com~apple~CloudDocs/Wheaton College/fall 2024/topics in data science/data/March 7, 2024 - Whistler Blackcomb(Jon).kmz'
    gpx_file_name_josh = 'March 7, 2024 - Whistler Blackcomb(Josh).gpx'
    gpx_file_name_jon = 'March 7, 2024 - Whistler Blackcomb(Jon).gpx'
    script_directory = '/Users/joshwinnes/Library/Mobile Documents/com~apple~CloudDocs/Wheaton College/fall 2024/topics in data science/Math485/Project2'
    
    os.chdir('/Users/joshwinnes/Library/Mobile Documents/com~apple~CloudDocs/Wheaton College/fall 2024/topics in data science/data')
    sys.path.append(script_directory)
    from gpx_kmz_util import *
    
    gpx_josh, run_info_josh = data_preprocessing(gpx_file_name_josh, kmz_file_path_josh)
    gpx_jon, run_info_jon = data_preprocessing(gpx_file_name_jon, kmz_file_path_jon)
    
    print('Working from Josh\'s laptop')
except FileNotFoundError:
    
    data_dir = 'your_data_directory_path'
    kmz_file_path_josh = 'path_to_josh_kmz_file'
    kmz_fil_path_jon = 'path_to_jon_kmz_file'
    gpx_file_name_josh = 'gpx_file_name_josh'
    gpx_file_name_jon = 'gpx_file_name_jon'
    script_directory = 'path_to_Project2'
    
    os.chdir(data_dir)
    sys.path.append(script_directory)
    from gpx_kmz_util import *
    
    gpx_josh, run_info_josh = data_preprocessing(gpx_file_name_josh, kmz_file_path_josh)
    gpx_jon, run_info_jon = data_preprocessing(gpx_file_name_jon, kmz_file_path_jon)
    
    print('Working from Jonathan\'s laptop')

Working from Josh's laptop

In [2]:
gpx_josh.head(30)

     Latitude   Longitude   Elevation                      Time        Name
0   50.113260 -122.953950  683.549635 2024-03-07 09:46:36-08:00  pre_lift_1
1   50.113391 -122.953915  686.117031 2024-03-07 09:46:36-08:00  pre_lift_1
2   50.113319 -122.953772  688.737785 2024-03-07 09:48:27-08:00  pre_lift_1
3   50.113267 -122.953655  689.777724 2024-03-07 09:48:32-08:00  pre_lift_1
4   50.113181 -122.953594  692.476930 2024-03-07 09:49:04-08:00  pre_lift_1
5   50.113095 -122.953502  691.570411 2024-03-07 09:49:13-08:00  pre_lift_1
6   50.113067 -122.953366  691.382969 2024-03-07 09:49:35-08:00      Lift 1
7   50.112973 -122.953325  686.006277 2024-03-07 09:50:35-08:00      Lift 1
8   50.112877 -122.953391  681.919232 2024-03-07 09:51:15-08:00      Lift 1
9   50.112725 -122.953385  681.302449 2024-03-07 09:51:28-08:00      Lift 1
10  50.112610 -122.953356  684.615683 2024-03-07 09:51:31-08:00      Lift 1
11  50.112514 -122.953327  689.775607 2024-03-07 09:51:34-08:00      Lift 1
12  50.112421 -122.953324  695.575547 2024-03-07 09:51:37-08:00      Lift 1
13  50.112327 -122.953323  699.793268 2024-03-07 09:51:40-08:00      Lift 1
14  50.112226 -122.953329  703.528547 2024-03-07 09:51:43-08:00      Lift 1
15  50.112128 -122.953330  711.052965 2024-03-07 09:51:46-08:00      Lift 1
16  50.112027 -122.953328  713.646141 2024-03-07 09:51:49-08:00      Lift 1
17  50.111917 -122.953323  715.439203 2024-03-07 09:51:52-08:00      Lift 1
18  50.111814 -122.953315  716.934234 2024-03-07 09:51:55-08:00      Lift 1
19  50.111703 -122.953321  719.771861 2024-03-07 09:51:58-08:00      Lift 1
20  50.111593 -122.953318  722.471443 2024-03-07 09:52:01-08:00      Lift 1
21  50.111490 -122.953322  725.439456 2024-03-07 09:52:04-08:00      Lift 1
22  50.111381 -122.953324  728.870720 2024-03-07 09:52:07-08:00      Lift 1
23  50.111269 -122.953326  732.359033 2024-03-07 09:52:10-08:00      Lift 1
24  50.111161 -122.953339  735.782906 2024-03-07 09:52:13-08:00      Lift 1
25  50.111065 -122.953336  739.471050 2024-03-07 09:52:16-08:00      Lift 1
26  50.110962 -122.953327  741.964528 2024-03-07 09:52:19-08:00      Lift 1
27  50.110852 -122.953329  745.332133 2024-03-07 09:52:22-08:00      Lift 1
28  50.110742 -122.953327  745.429212 2024-03-07 09:52:25-08:00      Lift 1
29  50.110634 -122.953323  746.985790 2024-03-07 09:52:28-08:00      Lift 1

In [3]:
gpx_jon.head(30)

     Latitude   Longitude   Elevation                      Time        Name
0   50.111385 -122.951516  699.522521 2024-03-07 09:52:51-08:00  pre_lift_1
1   50.109740 -122.953332  709.858664 2024-03-07 09:52:52-08:00  pre_lift_1
2   50.109765 -122.953274  741.954162 2024-03-07 09:52:53-08:00  pre_lift_1
3   50.109679 -122.953279  746.486242 2024-03-07 09:52:55-08:00      Lift 1
4   50.109586 -122.953275  748.005084 2024-03-07 09:52:58-08:00      Lift 1
5   50.109493 -122.953277  748.946129 2024-03-07 09:53:01-08:00      Lift 1
6   50.109389 -122.953282  749.281006 2024-03-07 09:53:03-08:00      Lift 1
7   50.109282 -122.953280  750.218117 2024-03-07 09:53:06-08:00      Lift 1
8   50.109176 -122.953279  751.754523 2024-03-07 09:53:09-08:00      Lift 1
9   50.109065 -122.953292  753.590171 2024-03-07 09:53:12-08:00      Lift 1
10  50.108962 -122.953287  755.042172 2024-03-07 09:53:15-08:00      Lift 1
11  50.108861 -122.953291  755.878658 2024-03-07 09:53:18-08:00      Lift 1
12  50.108770 -122.953288  756.732351 2024-03-07 09:53:21-08:00      Lift 1
13  50.108667 -122.953293  757.195077 2024-03-07 09:53:24-08:00      Lift 1
14  50.108542 -122.953294  758.438071 2024-03-07 09:53:27-08:00      Lift 1
15  50.108430 -122.953295  760.065340 2024-03-07 09:53:30-08:00      Lift 1
16  50.108315 -122.953301  760.343154 2024-03-07 09:53:33-08:00      Lift 1
17  50.108204 -122.953294  760.492356 2024-03-07 09:53:36-08:00      Lift 1
18  50.108094 -122.953301  760.565803 2024-03-07 09:53:39-08:00      Lift 1
19  50.107992 -122.953297  762.045608 2024-03-07 09:53:42-08:00      Lift 1
20  50.107892 -122.953297  762.554306 2024-03-07 09:53:45-08:00      Lift 1
21  50.107784 -122.953297  764.996004 2024-03-07 09:53:48-08:00      Lift 1
22  50.107680 -122.953304  768.718456 2024-03-07 09:53:52-08:00      Lift 1
23  50.107584 -122.953300  772.404578 2024-03-07 09:53:55-08:00      Lift 1
24  50.107481 -122.953290  777.066299 2024-03-07 09:53:58-08:00      Lift 1
25  50.107361 -122.953294  781.801406 2024-03-07 09:54:01-08:00      Lift 1
26  50.107251 -122.953291  788.362930 2024-03-07 09:54:04-08:00      Lift 1
27  50.107150 -122.953292  794.868096 2024-03-07 09:54:07-08:00      Lift 1
28  50.107058 -122.953299  800.746714 2024-03-07 09:54:10-08:00      Lift 1
29  50.106963 -122.953298  806.357489 2024-03-07 09:54:13-08:00      Lift 1

In [4]:
run_info_josh

,Name,Longitude,Latitude,Elevation,Time,time_elapsed,end_time
0,Lift 1,-122.953366,50.113067,691.382969,2024-03-07 09:49:35-08:00,0 days 00:22:04,2024-03-07 10:11:39-08:00
1,Run 1,-122.951056,50.078425,1681.088996,2024-03-07 10:11:39-08:00,0 days 00:10:54,2024-03-07 10:22:33-08:00
2,Lift 2,-122.963743,50.085441,1301.686260,2024-03-07 10:22:33-08:00,0 days 00:13:51,2024-03-07 10:36:24-08:00
3,Run 2,-122.947029,50.067096,1855.330032,2024-03-07 10:36:24-08:00,0 days 00:06:53,2024-03-07 10:43:17-08:00
5,Lift 3,-122.952236,50.066824,1779.142854,2024-03-07 10:43:17-08:00,0 days 00:04:03,2024-03-07 10:47:20-08:00
6,Run 3,-122.957573,50.059251,2183.242267,2024-03-07 10:47:20-08:00,0 days 01:17:11,2024-03-07 12:04:31-08:00
8,Lift 4,-122.964118,50.085837,1299.682279,2024-03-07 12:04:31-08:00,0 days 00:11:38,2024-03-07 12:16:09-08:00
9,Run 4,-122.947552,50.066370,1853.043952,2024-03-07 12:16:09-08:00,0 days 00:02:54,2024-03-07 12:19:03-08:00
10,Lift 5,-122.952248,50.066714,1772.088558,2024-03-07 12:19:03-08:00,0 days 00:03:50,2024-03-07 12:22:53-08:00
11,Run 5,-122.957416,50.059398,2178.784326,2024-03-07 12:22:53-08:00,0 days 00:15:21,2024-03-07 12:38:14-08:00
12,Lift 6,-122.952123,50.066880,1775.880465,2024-03-07 12:38:14-08:00,0 days 00:04:13,2024-03-07 12:42:27-08:00
13,Run 6,-122.957556,50.059226,2173.845804,2024-03-07 12:42:27-08:00,0 days 12:20:59,2024-03-07 01:03:26-08:00
15,Lift 7 (Symphony Express),-122.918304,50.058562,1529.177429,2024-03-07 01:03:26-08:00,0 days 00:07:55,2024-03-07 01:11:21-08:00
16,Run 7,-122.939676,50.046135,2037.706992,2024-03-07 01:11:21-08:00,0 days 01:02:29,2024-03-07 02:13:50-08:00
18,Lift 8 (Excalibur Gondola),-122.953055,50.113367,684.840619,2024-03-07 02:13:50-08:00,0 days 00:16:41,2024-03-07 02:30:31-08:00
19,Lift 9 (Excelerator Express),-122.922870,50.111723,1130.863379,2024-03-07 02:30:31-08:00,0 days 00:06:39,2024-03-07 02:37:10-08:00
20,Run 8,-122.904950,50.103412,1644.898104,2024-03-07 02:37:10-08:00,0 days 00:02:56,2024-03-07 02:40:06-08:00
22,Lift 10 (Glacier Express),-122.899644,50.106319,1540.697266,2024-03-07 02:40:06-08:00,0 days 00:10:23,2024-03-07 02:50:29-08:00
23,Run 9,-122.881405,50.096123,2131.747556,2024-03-07 02:50:29-08:00,0 days 00:26:47,2024-03-07 03:17:16-08:00
24,Lift 11 (Crystal Ridge Express),-122.906160,50.118756,1296.043749,2024-03-07 03:17:16-08:00,0 days 00:11:03,2024-03-07 03:28:19-08:00
25,Run 10,-122.891876,50.107393,1828.130413,2024-03-07 03:28:19-08:00,0 days 00:15:18,2024-03-07 03:43:37-08:00
26,Lift 12 (Jersey Cream Express),-122.900906,50.106330,1550.095512,2024-03-07 03:43:37-08:00,0 days 00:06:07,2024-03-07 03:49:44-08:00
27,Run 11,-122.897995,50.094229,1918.686769,2024-03-07 03:49:44-08:00,0 days 00:05:08,2024-03-07 03:54:52-08:00
28,Lift 13 (Peak 2 Peak),-122.900802,50.095627,1873.038610,2024-03-07 03:54:52-08:00,0 days 00:12:28,2024-03-07 04:07:20-08:00
29,Run 12,-122.945875,50.069642,1828.492283,2024-03-07 04:07:20-08:00,NaT,NaT

In [5]:
run_info_jon

,Name,Longitude,Latitude,Elevation,Time,time_elapsed,end_time
0,Lift 1,-122.953279,50.109679,746.486242,2024-03-07 09:52:55-08:00,0 days 00:17:35,2024-03-07 10:10:30-08:00
1,Run 1,-122.951039,50.079034,1678.810227,2024-03-07 10:10:30-08:00,0 days 00:12:03,2024-03-07 10:22:33-08:00
3,Lift 2,-122.963696,50.085477,1294.527448,2024-03-07 10:22:33-08:00,0 days 00:13:53,2024-03-07 10:36:26-08:00
4,Run 2,-122.947079,50.067145,1844.829283,2024-03-07 10:36:26-08:00,0 days 00:06:09,2024-03-07 10:42:35-08:00
5,Lift 3,-122.952012,50.067018,1772.808738,2024-03-07 10:42:35-08:00,0 days 00:04:37,2024-03-07 10:47:12-08:00
6,Run 3,-122.957425,50.059362,2170.953821,2024-03-07 10:47:12-08:00,0 days 01:04:53,2024-03-07 11:52:05-08:00
7,Lift 4,-122.988703,50.093790,656.509161,2024-03-07 11:52:05-08:00,0 days 00:39:09,2024-03-07 12:31:14-08:00
8,Run 4,-122.963043,50.058412,2059.593358,2024-03-07 12:31:14-08:00,0 days 01:45:49,2024-03-07 14:17:03-08:00
9,Lift 5 (Excelerator Express),-122.922710,50.111669,1126.007092,2024-03-07 14:17:03-08:00,0 days 00:09:30,2024-03-07 14:26:33-08:00
10,Run 5,-122.904938,50.103308,1634.285129,2024-03-07 14:26:33-08:00,0 days 00:16:58,2024-03-07 14:43:31-08:00
11,Lift 6 (Crystal Ridge Express),-122.905995,50.118685,1301.512253,2024-03-07 14:43:31-08:00,0 days 00:08:35,2024-03-07 14:52:06-08:00
12,Run 6,-122.891418,50.107585,1818.899374,2024-03-07 14:52:06-08:00,0 days 00:15:36,2024-03-07 15:07:42-08:00
13,Lift 7 (Jersey Cream Express),-122.900825,50.106295,1538.142968,2024-03-07 15:07:42-08:00,0 days 00:06:50,2024-03-07 15:14:32-08:00
14,Run 7,-122.898443,50.094328,1906.705377,2024-03-07 15:14:32-08:00,0 days 00:06:36,2024-03-07 15:21:08-08:00
15,Lift 8 (Peak 2 Peak),-122.901114,50.095344,1872.916566,2024-03-07 15:21:08-08:00,0 days 00:50:42,2024-03-07 16:11:50-08:00
16,Lift 9,-122.949931,50.112609,701.043930,2024-03-07 16:11:50-08:00,0 days 00:04:46,2024-03-07 16:16:36-08:00
17,Run 8,-122.943917,50.110802,767.850232,2024-03-07 16:16:36-08:00,NaT,NaT

### ***Compiling Data into 1 DataFrame***

This is a change